{% extends "layout.html" %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      <h2>
      {% if g.user %}
        Ciao {{ g.user.nome }}!   
      </h2>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    
    {% if not entrato %}
      <button type="button" onclick="location.href='{{url_for('entra')}}'" value="Entra" class="btn btn-hg btn-wide btn-success navbar-btn " autofocus>Entra</button>
    {% endif %}
        
    {% if entrato %}
      <button type="button" onclick="location.href='{{url_for('esci')}}'" value="Esci" class="btn btn-hg btn-wide btn-danger navbar-btn " autofocus>Esci</button>
   
    {% endif %}
   </div>
  </div>
    
  {% else %}
     
      Fai il login per accedere al badge
      </h2>
    </div>  
  </div>
      <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
        
  {% endif %}
  
{% endblock %}
