{% extends "layout.html" %}

{% block body %}
  {% if g.user %}
    <div class="row">
      <div class="col-md-4">
        <h2>      
          Ciao {{ g.user.nome }}!   
        </h2>
      </div>  
      {% if  entrata is defined and entrata|string() != 'None' %}
          <div class="col-md-8">
            <h4>
              Oggi sei entrato alle 
              <span class="label label-info">{{entrata}}</span>
            </h4>
            {% if  uscita is defined and uscita|string() != 'None' %}    
              <h4>    
                Sei uscito alle <span class="label label-info">{{uscita}}</span> 
              </h4>
              <h4>
                Sei stato presente per <span class="label label-info">{{g.user.oreGiornaliereValide(date_now())}}</span> 
              </h4>
            {% endif %}
            {% with oreDaRec=g.user.oreMensiliDaRecuperare(date_now().month) %}
              {% if oreDaRec|string() != 'None'%}
                <h4>
                  Questo mese devi recuperare <span class="label label-info">{{oreDaRec}}</span> 
                </h4>
              {% endif %} 
            {% endwith %}
          </div>
          
      </div>
      
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
        
          <button type="button" onclick="location.href='{{url_for('esci')}}'" value="Esci" class="btn btn-hg btn-wide btn-danger navbar-btn " autofocus>Esci</button>
          
        </div>
      </div>
      
    {% else %}
     
      <div class="row">
        <div class="col-md-4 col-md-offset-4">   
          <button type="button" onclick="location.href='{{url_for('entra')}}'" value="Entra" class="btn btn-hg btn-wide btn-success navbar-btn " autofocus>Entra</button>
        </div>
      </div>
    {% endif %}
  {% else %}
     <div class="row">
      <div class="col-md-6">
        <h2>    
      Fai il login per accedere 
      </h2>
    </div>  
  </div>
      <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
        
  {% endif %}
  
{% endblock %}
