<!doctype html>
<title>{% block title %}Ciao{% endblock %} | Prova</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
<h1>Badge</h1>
<ul class=navigation>
  {% if g.user %}
  <li><a href="{{ url_for('index') }}">overview</a>
  <li><a href="{{ url_for('logout') }}">logout [{{ g.user.nome }}]</a>
  {% else %}
  <li><a href="{{ url_for('login') }}">login</a>
  {% endif %}
</ul>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}
{% block body %}{% endblock %}
