{% extends "layout.html" %}
{% block body %}

<script type=text/javascript>
  
$(document).ready(function(){
  $("select").select2({dropdownCssClass: 'dropdown-inverse'});
  $('#mese').on('change', function(){
    var selected_month = $(this).find("option:selected").val();
    var selected_year = $('#anno').find("option:selected").val();
    //alert(selected_month+selected_year);
    window.location="/overview/"+selected_month+"/"+selected_year;
  });
  $('#anno').on('change', function(){
    var selected_month = $('#mese').find("option:selected").val();
    var selected_year = $(this).find("option:selected").val();
    //alert(selected_month+selected_year);
    window.location="/overview/"+selected_month+"/"+selected_year;
  });
  });
</script>
  <div class="row">
    {% with years = years() %}
      <div class="col-md-4 ">
        <select id="anno" class="form-control select select-primary select-block mbl ">
          {% for year in years %}
            {% if (loop.index+2010-1)|string == sel_year|string %} <!--TODO togliere 2010 -->
              <option value="{{year}}" selected>{{year}}</option>
            {% else %}
              <option value="{{year}}">{{year}}</option>
            {% endif %}
          {% endfor %}
        </select>          
      </div>
    {% endwith %}
    {% with months = months() %}
      <div class="col-md-4 ">        
        <select id="mese" class="form-control form-control select select-primary select-block mbl" >
            {% for month in months %}
              {% if loop.index|string == sel_month|string %}
                <option value="{{loop.index}}" selected>{{month}}</option>
              {% else %}
                <option value="{{loop.index}}">{{month}} </option>
              {% endif %}
            {% endfor %}
        </select>          
      </div>
    {% endwith %}
  </div>
  <table class="table table-hover" style="width:100%">
    <thead>
      <tr class="title">
        <th>Data</th>
        <th>Entrata</th>
        <th>Uscita</th>
        <th>Ritardo</th>
        <th>Ore presenza</th>
        <th>Ore Giornaliere Valide</th>
        <th>ROL</th>
      </tr>
    </thead>
  {% set entries = g.user.entrate_uscite_totali(sel_month, sel_year) %}
  {% for entry in entries %}
    <tr >
      <td>{{entry.Entrata.data.strftime("%d/%m/%y")}}</td>
      <td>{{entry.Entrata.ora.strftime("%H:%M")}}</td>
      <td>{{entry.Uscita.ora.strftime("%H:%M")}}</td>
      <td>{{entry.Entrata.ritardoNoROL()}}</td>
      <td>{{g.user.orePresenzaGiornaliere(entry.Entrata.data)}}</td>
      <td>{{g.user.oreGiornaliereValide(entry.Entrata.data)}}</td>
      <td>{{entry.Entrata.ROL()}}</td>
    </tr>
  {% else %}
      <em>Non è stata registrata nessuna attività</em>
  {% endfor %}
  <tfoot >
    <tr class="info">
      {% set oreMensili=g.user.oreMensiliTotali(sel_month, sel_year, entries)%}
      {% set avg=g.user.avg(sel_month, sel_year, entries) %}
      <td>Totali</td>
      <td>{{avg['entrata']}} (media)</td>
      <td>{{avg['uscita']}} (media)</td>
      <td>{{g.user.totaleRitardi(sel_month, sel_year,entries)}}</td>
      <td>{{oreMensili.days*24+oreMensili.seconds//3600}}:{{'{:02d}'.format((oreMensili.seconds//60)%60)}}:00</td>
      {% set oreValide=g.user.oreMensiliValide(sel_month, sel_year, entries)%}
      {% set oreDovute=g.user.oreDovuteMese(sel_month, sel_year, entries)%}
      <td>{{oreValide.days*24+oreValide.seconds//3600}}:{{'{:02d}'.format((oreValide.seconds//60)%60)}}:00 / {{oreDovute.days*24+oreDovute.seconds//3600}}:{{'{:02d}'.format((oreDovute.seconds//60)%60)}}:00</td>
      <td>{{g.user.ROLMensili(sel_month, sel_year,entries)}}</td>
    </tr>
  </tfoot>
{% endblock %}
